a. Project/25-1 CSE4186/
a. Project/Fanfic-Translator/
a. Project/Shadertoy/
a. Project/Whitted Raytracer/

b. Area/Career/
b. Area/Dream.md

d. Archive/Etc/
d. Archive/University/3-1/Project/
d. Archive/University/3-2/Project/